* {
    /*Emmet*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.col {
    float: left;
    padding: 0 16px;

}

h2 {
    padding: 40px;
    text-align: center;
    color: #fff
}

h4 {
    font-weight: 500;
}

#content .nd {
    margin: 0 25px 25px;
    font-size: 20px;
    text-align: justify;/*căn đều văn bản thành khối hình chữ nhật*/
    line-height: 1.4;
    color:#fff;
}

.content-current,
.content-upcoming, 
.content-intro {
    padding-bottom: 80px;
    background-color: #000;
}

.content-current::after,
.content-upcoming::after {
    content: "";
    display: block;
    clear: both;

}

#poster {
    position: relative;
}

#poster .btn-play-trailer {
    position: absolute;
    display: none;
}

#poster:hover {
    opacity: 0.6;
}

#poster:hover .btn-play-trailer {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    border: 8px solid #fff;
    border-radius: 90px;
}

.movies-body {
    padding: 16px;
    font-size: 15px;
    background-color: #000;

}

.movies-heading {
    font-size: 15px;
    font-weight: 600;
    color: #fff
}

.movies-time {
    margin-top: 15px;
    color: #d3d2d2;

}

.movies-desc,
.movies-tl {
    margin-top: 15px;
    line-height: 1.2;
    color: #fff
}

.movies-img {
    width: 100%;
    height: 150%;
}

.btn {
    color: #000;
    background-color: #fff;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;

}

.btn:hover {
    cursor: pointer;
    color: #ffc900;
    background-color: beige;
}


@media (min-width: 1023px) {
    .movies-img {
        height: 300px;
    }

    .col-six {
        width: 16.66666%;
    }
    
}

@media (min-width: 740px) and (max-width: 1023px) {
    .movies-img {
        height: 198.77px;
    }

    .col-six {
        width: 33.33333%;
    }
    
}

@media (max-width: 740) {
    .movies-img {
        height: 100px;
    }

    .col-six {
        width: 50%;
    }
    
}