* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    height: 48px;
    background-color: #ffd400;
}

#nav, .subNav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a{
    color: #000;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 48px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subNav {
    display: block;
}

#nav > li:hover > a {
    color: #000;
    background-color: #ffbc06;
}

#nav .subNav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 180px;
    border-radius: 1.5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subNav a {
    color: #000;
    padding: 0 12px;
    line-height: 40px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#nav .subNav li:hover {
    color: #000;
    background-color: #ccc;
    font-weight: 550;
}

.input-field {
    border-radius: 12px;
    line-height: 20px;
}

.search-icon {
    position: absolute;
    font-size: 14px;
    width: 100%;
    padding: 5px;
    min-width: 40px;
}